html,
body{
	font-size: 16px;
	margin: 0;
	padding: 0;
	width: 100%;
	background: #EAEAEA;
}

#app h1 {
	margin: 0;
	border-bottom: 1px solid #AAA;
	padding-bottom: 3px;
	margin-bottom: -4px;
}

#app blockquote {
	margin: 0;
	border-left: 5px solid #CCC;
	padding: .25rem .5rem;
	margin: -.25rem 0;
}

#app img {
	margin: 0;
	float: left;
	max-width: 100%;
	margin-right: 14px;
}

#app code {
	margin: 0;
	background: #666;
	color: #FFF;
	padding: .25rem;
	margin: -.25rem 0;
	border-radius: 5px;
	letter-spacing: 1px;
}
